@{
    ViewBag.Title = "Home Pagers!!!";
}
<div class="row">
    <div class="col-md-9">
        <p>This is a siste of stuff to <b>sell</b> to other peeps</p>
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" alt="Van Goofy" />
            <h3>Mug</h3>
            <ul class="product-props">
                <li>Price: $8.88</li>
                <li>Artist: Van Goofy</li>
                <li>Title: Selfie</li>
                <li>Description: Self-portrait</li>
            </ul>
            <button id="btnBuy" class="btn btn-success">buy</button>
        </div>

        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label>Username</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>Remebmer Me?</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <p>Text to the second column of md-6</p>
    </div>
</div>
